/*CSS Design for samller devices*/
@media (max-width: 769px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .tab_items {
        flex-direction: column;
        align-items: stretch;
    }

    button, a {
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    input[type="text"], input[type="data"], select, textarea {
        width: 100%;
    }
}

/*CSS Design for styling the from in present container*/
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: azure;
    margin: 20px;
    text-align: center;
}

body {
    color: #333;
    background-color: #6c4060;
}

h2, h3, h4 {
    color: #817b7b;
    padding: 10px;
    margin: 10px
}

.container {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%; 
}

.container img {
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    border-radius: 20px;
    justify-content: center;
}


form {
    background: rgb(252, 245, 245);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 50px;
   
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: calc(80% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #363535;
    border-radius: 5px;
    font-size: 16px;
    
}  
input[type="radio"] {
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #9dc2f2;
}

.tab_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.tab.active {
    background-color: #3f8ee2;
    color: white;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.location span {
    margin-right: 10px;
}

h3 {
    margin-top: 20px;
    color: #555;
}

select {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #daecf9;
}

a:hover {
    color: rgb(190, 237, 248);
} 

